body{
  /*background: url('/images/handmadepaper.png');*/
  background: url('http://subtlepatterns.com/patterns/stardust.png');
  color: #eee;
  font-size: 18px;
}
.container[role=main]{
}
nav{
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
  font-weight: 700;
}
.jumbotron{
  /*background: url('http://subtlepatterns.com/patterns/stardust.png');*/
  background: url('/images/dark_wall.png');
  padding-bottom: 0;
  color: #eee;
}
.jumbotron #wreath{
  padding-top: 10px;
}
.jumbotron #wreath img{
  height: 540px;
}
.jumbotron .name{
  font-family: 'Cabin Sketch', cursive;
}
.page-header h1{
  font-family: 'Parisienne', cursive;
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 4px 4px black;
}
.page-header {
  border-bottom: none;
  background: url('/images/footer.png') no-repeat;
  height: 100px;
  background-position:center 50px;
}
h2{
  font-family: 'Parisienne', cursive;
  text-shadow: 1px 4px 4px black;
  font-size: 40px;
}
.jumbotron .info{
  font-size: 26px;
  font-family: 'Oleo Script', cursive;
}
.spacer{
  height: 20px;
}
#about{
}
.jumbotron{
  margin-bottom: 0;
}
.parallax-window{
  background:transparent;
  height: 300px;
}
.navbar-inverse{
  background: linear-gradient(#225050, #008080);
  box-shadow: 2px 2px 4px #222;
}
.navbar-inverse .navbar-nav>li>a{
  color: #fff;
}
.gallery-img{
  max-width: 100%;
  max-height: 300px;
}
.gallery-img.pull-left {
  padding-right: 10px;
}
.gallery-img.pull-right{
  padding-left: 10px;
}
